body {
  background-color: linnen;
}

h1, li {
text-align: center;
  color: black;
  font-size: 40px
}


li {
  font-size: 20px
}

#soorten_pasta {
text-align: center;
    font-size: 30px
}

.pasta {
color: black
}


ol {
  list-style-type: upper-roman;
}

button {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.6s;
  cursor: pointer;
}
